@font-face {
  font-family: "playfair_display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body {
  font-family: 'Forum', cursive;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #3B181E;
}

.container {
  max-width: 94%;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.header {
  position: relative;
  padding-top: 80px;
  margin: 0;
  background: url(../images/header-bg.jpg) no-repeat center/cover;
}

.header::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__logo {
  max-width: 137px;
}

.header__burger-menu {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
}

.header__main {
  position: relative;
  z-index: 2;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 818px;
  margin: auto;
  margin-top: 189px;
  margin-bottom: 30px;
}

.header__title {
  font-size: 120px;
  line-height: 132px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.header__button-works {
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  padding: 19px 30px 16px;
  margin-bottom: 157px;
}

.header__button-works:hover {
  color: #000000;
  background: #fff;
}

.header__gradient {
  position: relative;
  z-index: 2;
  height: 75px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3.33%, #3B181E), to(rgba(59, 24, 30, 0)));
  background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
}

.header-catalog {
  position: absolute;
  right: -89px;
  bottom: 110px;
  color: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
}

.header-catalog__text {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.header-catalog__icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__arrow {
  display: none;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.burger-menu__line {
  font-family: 'Forum', cursive;
  width: 23px;
  border: 1px solid #FFFFFF;
  margin-top: 5px;
}

.burger-menu__text {
  font-family: 'Forum', cursive;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.socials {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 172px;
}

.socials__icon {
  fill: none;
  stroke: #fff;
}

.socials__icon:hover {
  fill: #fff;
  stroke: #3B181E;
}

.services {
  padding: 170px 0 106px;
  position: relative;
}

.services__background {
  position: absolute;
  left: 50%;
  top: 207px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  font-size: 220px;
  line-height: 243px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.03;
}

.services__title {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 98px;
}

.services__title::after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 22px;
  width: 85px;
  background-color: #fff;
  height: 1px;
}

.services-container {
  max-width: 1500px;
  overflow: visible;
}

.services-wrapper {
  overflow: visible;
}

.services-slide {
  position: relative;
  width: 330px;
  height: 450px;
}

.services-slide:not(:last-child) {
  margin-right: 60px;
}

.services-slide:hover:after {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 350px;
  height: 470px;
  z-index: -1;
}

.services-slide:hover .services-slide__button {
  display: block;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-left: 20px;
  opacity: 1;
}

.services-slide:hover .services-slide__title {
  bottom: 100px;
}

.services-slide:hover .services-slide__image {
  opacity: 0.6;
}

.services-slide:hover .services-slide__page {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-slide__page {
  position: absolute;
  top: 36px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 102px;
}

.services-slide__number {
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.services-slide__line {
  width: 70px;
  height: 0;
  border: 1px solid #FFFFFF;
}

.services-slide__title {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.9;
  margin: 0;
}

.services-slide__button {
  position: absolute;
  bottom: 59px;
  padding: 19px 0 16px;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #010001;
  background-color: #fff;
  display: none;
  width: 199px;
}

@media (max-width: 992px) {
  .header__title {
    font-size: 70px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.09em;
    margin-bottom: 82px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 38px;
    padding-bottom: 55px;
    background-size: cover;
  }
  .header__wrapper {
    margin-top: 180px;
    margin-bottom: 0;
  }
  .header__mouse {
    display: none;
  }
  .header-catalog {
    display: none;
  }
  .header__gradient {
    display: none;
  }
  .header__arrow {
    display: block;
    margin: 0 auto;
    width: 29px;
  }
  .burger-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .burger-menu__line {
    width: 35px;
  }
  .burger-menu__text {
    display: none;
  }
  .socials {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 460px;
    margin: auto;
    padding-bottom: 35px;
  }
  .socials__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #3B181E;
    border-radius: 50%;
    height: 55px;
    width: 55px;
  }
  .socials__icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 576px) {
  .header {
    padding-top: 0;
  }
  .header__wrapper {
    margin-top: 103px;
  }
  .header__top {
    background-color: #3B181E;
    width: 99%;
    left: -3%;
    padding: 15px 30px 20px;
  }
  .header__title {
    font-family: "playfair_display", cursive;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.09em;
    max-width: 238px;
    margin-bottom: 35px;
  }
  .header-arrow__icon {
    width: 14px;
    height: 14px;
  }
  .burger-menu__line {
    width: 37px;
  }
  .socials {
    width: 260px;
    height: 35px;
    padding-bottom: 30px;
  }
  .socials__link {
    width: 35px;
    height: 35px;
  }
  .socials__icon {
    width: 18px;
    height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */