@media (max-width: 992px)
  .header
    &__title
      font-size: 70px
      line-height: 77px
      text-align: center
      letter-spacing: 0.09em
      margin-bottom: 82px
  .promotion
    padding: 0 0 100px
    &-wrapper
      flex-direction: column-reverse
    &__image
      width: 100%
      margin-bottom: 30px
    &-info
      align-items: center
      max-width: 100%
      &__title
        margin-bottom: 40px
        text-align: center
        &::after
          margin: auto
          margin-top: 20px
      &__text
        margin-bottom: 15px
        text-align: center
        max-width: 453px
  .footer
    &-wrapper
      height: 263px
    &-info
      flex-direction: column
      height: 198px
      &__link
        font-size: 20px
        line-height: 22px
@media (max-width: 768px)
  .header
    padding-top: 38px
    padding-bottom: 55px
    background-size: cover
    &__wrapper
      margin-top: 180px
      margin-bottom: 0
    &__mouse
      display: none
    &-socials
      position: static
      flex-direction: row
      align-items: center
      height: 60px
      width: 460px
      margin: auto
      padding-bottom: 35px
      &__link
        display: flex
        justify-content: space-evenly
        align-self: center
        background-color: $main-bg-color
        border-radius: 50%
        height: 55px
        width: 55px
      &__icon
        align-self: center
    &-catalog
      display: none
    &__gradient
      display: none
    &__arrow
      display: block
      margin: 0 auto
      width: 29px
  .burger-menu
    align-items: start
    &__line
      width: 35px
    &__text
      display: none
  .services
    padding: 100px 0 50px
@media (max-width: 576px)
  .header
    padding-top: 0
    &__wrapper
      margin-top: 103px
    &__top
      background-color: $main-bg-color
      width: 106%
      left: -3%
      padding: 15px 30px 20px
    &__title
      font-family: "playfair_display", cursive
      font-size: 30px
      line-height: 42px
      text-align: center
      letter-spacing: 0.09em
      max-width: 238px
      margin-bottom: 35px
    &-socials
      width: 260px
      height: 35px
      padding-bottom: 30px
      &__link
        width: 35px
        height: 35px
      &__icon
        width: 18px
        height: 18px
    &-arrow
      &__icon
        width: 14px
        height: 14px
  .burger-menu
    &__line
      width: 37px
  .services
    padding-top: 100px
    &__title
      text-align: left
      margin-bottom: 20px
      &::after
        margin: 0
        margin-top: 20px
  .promotion
    padding-top: 20px
    &-info
      align-items: start
      &__title
        text-align: left
        margin-bottom: 20px
        &::after
          margin: 0
          margin-top: 20px
      &__text
        text-align: left
        margin-bottom: 40px
    &__image
      height: 300px
  .footer
    &-info
      &__link
        font-size: 16px
        line-height: 18px
