@media (max-width: 1688px)
  .services
    &__background
      font-size: 200px
@media (max-width: 1610px)
  .services
    &-container
      max-width: 1100px
      height: 483px
    &__background
      display: none
    &-pagination
      display: block
@media (max-width: 1200px)
  .services
    &-container
      max-width: 720px
@media (max-width: 992px)
  .header
    &__title
      font-size: 70px
      line-height: 77px
      text-align: center
      letter-spacing: 0.09em
      margin-bottom: 82px
@media (max-width: 768px)
  .header
    padding-top: 38px
    padding-bottom: 55px
    background-size: cover
    &__wrapper
      margin-top: 180px
      margin-bottom: 0
    &__mouse
      display: none
    &-catalog
      display: none
    &__gradient
      display: none
    &__arrow
      display: block
      margin: 0 auto
      width: 29px
  .burger-menu
    align-items: start
    &__line
      width: 35px
    &__text
      display: none
  .socials
    position: static
    flex-direction: row
    align-items: center
    height: 60px
    width: 460px
    margin: auto
    padding-bottom: 35px
    &__link
      display: flex
      justify-content: space-evenly
      align-self: center
      background-color: $main-bg-color
      border-radius: 50%
      height: 55px
      width: 55px
    &__icon
      align-self: center
  .services
    &-container
      max-width: 288px
      height: 425px
    &-wrapper
      max-height: 415px
    &-slide
      max-height: 392px
      &:hover
        &::after
          width: 308px
          height: 412px
      &__image
        width: 288px
@media (max-width: 576px)
  .header
    padding-top: 0
    &__wrapper
      margin-top: 103px
    &__top
      background-color: $main-bg-color
      width: 99%
      left: -3%
      padding: 15px 30px 20px
    &__title
      font-family: "playfair_display", cursive
      font-size: 30px
      line-height: 42px
      text-align: center
      letter-spacing: 0.09em
      max-width: 238px
      margin-bottom: 35px
    &-arrow
      &__icon
        width: 14px
        height: 14px
  .burger-menu
    &__line
      width: 37px
  .socials
    width: 260px
    height: 35px
    padding-bottom: 30px
    &__link
      width: 35px
      height: 35px
    &__icon
      width: 18px
      height: 18px
